* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-1: #ffffff;
  --clr-primary-2: #d1d2d3;

  --clr-secondary: #afb1b2;
  --clr-tertiary: #8b949b;

  --clr-background: #1b2023;

  --clr-accent-1: #272b2e;
  --clr-accent-2: #323739;
  --clr-accent-3: #3d4144;

  --clr-accent-4: #005664;

  --clr-hover: #00000026;

  --clr-recharge: #00ff00;
  --clr-expense: #ff0000;
}

body {
  color: white;
  background: var(--clr-background);

  font-family: Inter, sans-serif;

  height: 100vh;
}

.header {
  position: sticky;
  top: 0;

  background: var(--clr-accent-1);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1em;

    .logo {
      font-size: 1.5rem;
      padding-block: 0.5em;
    }

    .navbarToggler {
      display: none;
      color: var(--clr-primary-2);
      font-size: 2rem;
    }

    .primary-navigation {
      display: flex;
      align-items: center;
      gap: 0.5em;

      list-style: none;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        padding: 1em;
        border-radius: 5px;
        font-size: 0.9rem;
        color: white;

        &:hover {
          background: var(--clr-accent-2);
        }

        &.active {
          background: var(--clr-accent-4);
        }
      }
    }
  }
}

main {
  .dashboard {
    .graph-container {
      min-height: 17rem;
      background: var(--clr-accent-3);
      padding: 1.5em;
    }

    .dashboard-bottom {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 1em;

      margin-block: 1.5em;
      padding-inline: 1em;

      .table-container {
        flex-basis: 58%;
        flex-grow: 1;
      }

      .buttons-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1em;

        flex-basis: 40%;
        flex-grow: 1;

        .btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1em;

          flex-basis: 10rem;
          flex-grow: 1;

          border-radius: 10px;
          padding: 2em;
          color: var(--clr-primary-1);
          text-decoration: none;
          font-size: 1rem;
          background: var(--clr-accent-4);

          transition: 100ms ease-out;

          .bi {
            font-size: 3rem;
          }
          &:hover {
            scale: 1.02;
          }
        }
      }
    }
  }

  .manage-transactions-section {
    margin-block: 1em;

    .table-container {
      padding-inline: 1em;
    }
  }

  .table-container {
    overflow: auto;

    table {
      width: 100%;
      border-spacing: 0 0;
      border-radius: 10px;
      overflow: hidden;

      tr {
        th,
        td {
          padding-inline: 1em;
          padding-block: 0.7em;

          border-right: 1px solid var(--clr-primary-2);

          &:nth-child(1) {
            max-width: 12rem;
          }

          &:last-child {
            border-right: 0;
          }
        }

        th {
          border-bottom: 1px solid var(--clr-primary-2);
        }

        td {
          text-align: right;
          font-weight: 600;

          &:first-child {
            text-align: center;
          }
        }
      }

      thead {
        background: var(--clr-accent-1);
        font-size: 1rem;
      }

      tbody {
        tr {
          &:nth-of-type(2n + 1) {
            background: var(--clr-accent-2);
          }
          &:nth-of-type(2n) {
            background: var(--clr-accent-3);
          }
        }
      }
    }
  }

  .dialog-box-container {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #00000046;
    backdrop-filter: blur(2px);

    .dialog-box {
      display: grid;
      gap: 1em;

      background: var(--clr-background);
      padding: 1em;
      border-radius: 10px;
      width: clamp(280px, 100%, 25rem);
      margin-inline: 1em;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-inline: 0.2em;
        margin-block: 1em;

        h3 {
          font-size: 1.5rem;
          color: var(--clr-primary-2);
        }

        .btn {
          // background: ;
          font-size: 1.8rem;
          border-radius: 4px;
          color: var(--clr-primary-2);

          transition: 100ms ease;

          &:hover {
            background: var(--clr-hover);
          }
        }
      }
    }

    .form {
      width: 100%;
      display: grid;
      gap: 1.5em;

      fieldset {
        outline: 0;
        border: 0;
        position: relative;

        input {
          background: transparent;
          width: 100%;
          padding: 1em 0.2em;
          font-size: 1rem;

          border: 0;
          outline: 0;
          border-bottom: 2px solid var(--clr-accent-3);
          color: var(--clr-primary-1);

          &:focus {
            border-color: var(--clr-accent-4);
          }

          &::placeholder {
            opacity: 0;
          }

          &:placeholder-shown ~ label {
            top: 1em;
            left: 0.2em;
            opacity: 0.5;
          }
        }

        &:not(.radio-fieldset) label {
          position: absolute;
          top: -0.5em;
          left: 0;
          font-size: 1rem;
          display: block;
          transition: 200ms ease-out;
        }

        &.radio-fieldset {
          padding: 1em 0.5em;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .input-container {
            display: flex;
            align-items: center;
            gap: 1em;
          }

          input {
            content: "";
            appearance: none;
            outline: 2px solid white;
            outline-offset: 3px;
            width: 0.5em;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 0;
            padding: 0;
            margin: 0;
            cursor: pointer;

            &:checked {
              background: var(--clr-accent-4);
            }
          }

          label {
            cursor: pointer;
          }
        }

        .btn {
          color: var(--clr-primary-1);
          background: var(--clr-accent-2);
          padding: 0.7em 2em;
          border-radius: 7px;
        }

        &:last-child {
          justify-self: end;
        }
      }
    }
  }
}

// Wrappers
.wrapper {
  max-width: 1440px;
  margin-inline: auto;
}

.wrapper-table {
  max-width: 108ch;
  margin-inline: auto;
}

// Utilities
.btn {
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.navbar-visible {
  transform: translateX(0) !important;
}

// Bootstrap Icons

.bi {
  width: 1em;
  height: 1em;

  &::before {
    display: block;
  }
}

// Media Queries
@media screen and (max-width: 700px) {
  .header {
    .navbarToggler {
      display: block !important;

      &#hideNavbar {
        position: absolute;
        top: 0.8em;
        right: 0.8em;
        font-size: 1.5rem;
      }
    }

    .navbar {
      position: fixed;
      top: 0;
      right: 0;

      background: var(--clr-background);
      width: 100%;
      height: 100%;
      padding-block: 4em;
      padding-inline: 1em;

      transform: translateX(100%);
      transition: transform 500ms ease-out;

      .primary-navigation {
        flex-direction: column;
        align-items: stretch;

        .btn {
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }
}
